/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=UnifrakturCook:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Moo+Lah+Lah&family=UnifrakturCook:wght@700&display=swap');
/*Custom properties*/
:root {
    --gamer-Font--: 'Henny Penny', cursive;
    --blue-colour--: #1c6aca;
    --red-colour--: #d00a2f;
    --yellow-colour--: yellow;
    --background-colour--: #eef2f9;
}
/* Global styles */
* {
    margin: 0;
    padding: 0;
}
body {      /* body styles */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--gamer-Font--);
    background-color: var(--background-colour--);
} 
/* Header styles */
.header {       /* Main header styles */
    align-self: center;
    align-items: center;
    display: flex;
    margin-top: 3px;
    width: 470px;
    color: #fff;
    border: 1px solid  var(--red-colour--);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--blue-colour--);
}
.headerImage {     /* Header image styles */    
    margin-left: 35px;
    width: 120px;
    height: auto;
}
.mainHeading {      /* Main heading styles */
    margin: auto;
    font-family: 'Moo Lah Lah', cursive;
    font-size: 2.5rem;
    color: var(--yellow-colour--);
}
/* Game choice styles */
.gamerChoice {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    margin-top: 0px;
    width: 470px;
    height: auto;
    font-weight: bolder;
    color:  #1c6aca;
    border-left: 1px solid  var(--red-colour--);
    border-right: 1px solid  var(--red-colour--);
}
#playWithHuman,
#playWithAI {       /* Choose players styles */
    margin-top: 7px;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: var(--blue-colour--);
    accent-color: var(--red-colour--);
}
.playHuman,
.playAI {    /* Choose players text styles */
    margin-left: -10px;
    display: block;
    font-size: 1.5rem;
}
/* Input players, score and results styles */
.playersScoresAndResults {
    display: grid;
    grid-template-columns: 350px 70px;
    align-self: center;
    margin-bottom: 5px;
    width: 470px;
    border: 1px solid  var(--red-colour--);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color:  var(--blue-colour--);
    color: var(--yellow-colour--);
}
.players,
.scores {   /* Players and score styles */
    font-size: 1.5rem;
    font-weight: bolder;
}
.scores {
    margin-left: -20px;
}
#inputForm {    /* Input players form styles */
    align-self: center;
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--blue-colour--);
    color: var(--yellow-colour--);
}
.player1Name,
#player1Name,
.player2Name,
#player2Name {
    font-size: 1.4rem;
}
#player1Name,
#player2Name {
    margin-left: 5px;
    padding-left: 10px;
    width: 190px;
    height: 30px;
    font-family: var(--gamer-Font--);
    color: var(--blue-colour--);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--red-colour--);
    background-color: var(--background-colour--);
}
.player1Name,
.player2Name,
#player1Name,
#player2Name {
   font-weight: 400;
}
.player2Name,
#player2Name {
    margin-top: 5px;
    margin-bottom: 15px;
}
#player1Score,
#player2Score {
    font-family: "UnifrakturCook", cursive;
    font-size: 45px;
    color:var(--yellow-colour--);
}
#player1Score {
    margin-top: -9px;
}
#player2Score {
    margin-top: -18px;
}
#result {       /* Game result styles */
    margin-left: 90px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 2rem;
    color: var(--yellow-colour--);
}
/* Gameplay buttons styles */
.startResetGame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#startButton,
#resetButton {
    align-self: center;
    margin-bottom: 25px;
    width: 155px;
    height: 40px;
    font-size: 1.5rem;
    color: var(--yellow-colour--);
    border: 1px solid var(--blue-colour--);
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--blue-colour--);
    background-color: var(--red-colour--);
}
#startButton:hover,
#resetButton:hover {
    transform: matrix(1.01, 0, 0, 1.01, 0, 0);
    color: var(--background-colour--);
}
/* Game board styles */
#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0px;
    margin: .5px auto;
}
#game-board>#one,
#game-board>#four,
#game-board>#seven {
margin-left: 3px;
}
#game-board>#zero,
#game-board>#three,
#game-board>#six {
    border-right: 10px solid var(--blue-colour--);
    border-left: 0px;
}
#game-board>#two,
#game-board>#five,
#game-board>#eight {
    border-left: 10px solid var(--blue-colour--);
    border-right: 0px;
}
#game-board>#six,
#game-board>#seven,
#game-board>#eight {
    border-bottom: 0px
}
.cell {    /* Game board cell styles */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: 3px 3px 3px var(--yellow-colour--);
    border-bottom: 10px solid var(--blue-colour--);
    cursor: pointer;
}